@root-path: 'via://via-interface/fonts';

.font (@name, @weight, @style, @file){

  @font-path: '@{root-path}/@{file}';

    @font-face {
        font-family: @name;
        font-weight: @weight;
        font-style: @style;
        src: url(@font-path);
    }
}

.font('Open Sans', 400, 'normal', 'Open Sans/OpenSans-Regular.ttf');
.font('Open Sans', 500, 'normal', 'Open Sans/OpenSans-SemiBold.ttf');
.font('Open Sans', 700, 'normal', 'Open Sans/OpenSans-Bold.ttf');
