@import "variables";

@toolbar-height: 25px;
@toolbar-background-color: #282828;
@toolbar-border-color: #000;

.toolbar
{
    height: @toolbar-height;
    background: @toolbar-background-color;
    border-bottom: 1px solid @toolbar-border-color;
    display: flex;
    line-height: @toolbar-height - 1;
}

.toolbar-button
{
    margin-left: 10px;
    background: #444;
    border: 1px solid #111;
    border-radius: 3px;
    color: #888;
    font-size: 12px;
    height: 24px;
    line-height: 22px;
    padding: 0 8px;
    display: block;

    &:first-child
    {
        margin-left: 0;
    }
}

.toolbar-search
{
    margin-left: 10px;
    background: #111;
    border: 1px solid #080808;
    border-radius: 3px;
    color: #888;
    font-size: 12px;
    height: 24px;
    line-height: 22px;
    padding: 0 6px;
    display: block;
    appearance: none;
    transition: all ease 0.2s;

    &:first-child
    {
        margin-left: 0;
    }

    &:focus
    {
        border-color: @primary-color;
        box-shadow: 0 0 0 1px @primary-color;
    }
}
